@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32KxfXNig.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXNig.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K5fQNig.ttf) format('truetype');
}
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.products {
  background: #706982;
}
.products .product-info {
  padding: 2rem;
}
.products .product-info .product-title {
  color: #67c0f0;
  font-family: "Drevna", cursive;
  font-size: 1.4rem;
  text-transform: capitalize;
}
.products .product-info .product-subtitle {
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-top: 0.7rem;
}
.products .product-info .product-text {
  color: #fff;
  margin-top: 0.5rem;
}
.products .product-info .main-btn {
  text-decoration: none;
  display: inline-block;
  background: #67c0f0;
  text-transform: uppercase;
  padding: 0.8rem 1.2rem;
  color: #706982;
  border: 1px solid #000;
  font-weight: bold;
  outline: 0.2rem solid #67c0f0;
  outline-offset: 4px;
  cursor: pointer;
  margin-top: 2rem;
  transition: all 0.3s ease-in-out;
}
.products .product-info .main-btn:hover {
  color: #fff;
  opacity: 0.7;
}
.products .product-list .product-single {
  padding: 10px;
}
.products .product-list .product-single .product-image {
  width: 100%;
  padding: 10px;
  border-radius: 0.5rem;
}
.products .product-list .product-single .product-single-title {
  color: #fff;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-top: 0.7rem;
  padding: 0 10px;
}
.products .product-list .product-single .product-single-price {
  color: #67c0f0;
  letter-spacing: 0.5rem;
  font-family: "Drevna", cursive;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0 10px;
  margin-top: 0.7rem;
}
@media screen and (min-width: 1200px) {
  .products .product-list .product-single {
    margin-top: 0;
    float: left;
    width: 33.33%;
    padding: 2rem 1rem;
  }
  .products .product-list .product-info {
    float: left;
    width: 30%;
    padding: 2rem 1rem;
  }
  .products .product-list .product-list {
    float: left;
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .product-single {
    margin-top: 0;
    float: left;
    width: 33.33%;
    padding: 2rem 1rem;
  }
  .product-info {
    float: left;
    width: 30%;
    padding: 2rem 1rem;
  }
  .product-list {
    float: left;
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .product-single {
    float: left;
    width: 50%;
    padding: 2rem 1rem;
  }
  .product-info {
    padding: 2rem 1rem;
  }
}
